body{
    background-image: url("black.jpg");
    
    
}

.description{
    background-color:rgba(63, 35, 163, 0.137);
}

p{
    color:white;
}
.carousel-holder{
    position: relative;
    width:600px;
    left:25%;
    display: flex;
    justify-content: center;
}