body{
    background-image: url("black.jpg");
    
    
}

.description{
    background-color:rgba(63, 35, 163, 0.137);
}

p{
    color:white;
}
.carousel-holder{
    position: relative;
    width:600px;
    left:25%;
    display: flex;
    justify-content: center;
}

@media (max-width:500px){

.carousel-holder{
    width:270px;
    position:relative;
    left:0%;
    display:flex;
    justify-content:left;
}

}
